@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #b2bc57 0%, #4c5313 100%);
  box-shadow: 0 16px 14px 0 #272d04;
  padding: 18px 24px;
  max-width: 325px;
  height: 480px;
  justify-content: left;
  position: relative; 
  overflow: hidden; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  opacity: 0; 
  z-index: 1;
  transition: opacity 0.1s ease-in-out; 
}

.container:hover .overlay {
  opacity: 1; 
  transition: opacity 0.1s ease-in-out; 
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 8px #000000);
  }
  50% {
    filter: drop-shadow(0 0 20px #000000);
  }
  100% {
    filter: drop-shadow(0 0 5px #000000);
  }
}

.overlay {
  animation: glow 2s infinite;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

@media screen and (max-width: 830px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
  }

  .container {
    margin: 20 0; 
  }
}